body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

/* Fix Ant Design icons align break caused by _reboot.scss */
.anticon > svg {
  vertical-align: unset;
}

p {
  color: white;
}

/* Temporary fix to make input text visible for AntDesign dark theme. (https://github.com/hekystyle/vocabulary/issues/290) */
.ant-select input {
  color: white;
}
